php_value display_errors On
php_value mbstring.http_input auto
php_value date.timezone Asia/Jakarta

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]